@import "default.theme";

$modal-width: 250px;
$modal-height: 250px;

.modal {
  width: $modal-width;
  height: $modal-height;
  position: absolute;
  top: calc(50% - #{$modal-height} / 2);
  left: calc(50% - #{$modal-width} / 2);
  background-color: #fff;
  border: $modal-border;
  border-radius: 8px;
  padding: 10px 0;

  h3 {
    text-align: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-background;
}

.canvasList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.canvasRow {
  height: 30px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }

  > div:last-child {
    display: flex;
    justify-content: space-evenly;
    color: #d40400;

    &:hover {
      color: #af0400;
    }
  }
}