$font: 400 14px 'Open Sans', sans-serif;

$overlay-background: rgba(31, 31, 31, .5);
$modal-border: 1px solid #1f1f1f;

$node-border: 1px solid #1f1f1f;
$node-background: #fafafa;
$toggle-off: #1f1f1f;
$toggle-on: #609cff;
$active: #ffc16b;