@import "default.theme";

.debugButton {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  padding: 5px;
  background-color: transparent;
  color: $toggle-off;
  cursor: pointer;

  &.active {
    color: $toggle-on
  }
}