@import "default.theme";

.node {
  position: absolute;
  border: $node-border;
  border-radius: 3px;
  background-color: $node-background;

  &:hover {
    cursor: pointer;
  }

  header {
    margin: 8px;

    input {
      width: 100%;
      border: 0;
      background-color: $node-background;

      &:hover {
        cursor: inherit;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-style: italic;
      }
    }
  }

  section {
    margin: 8px;

    textarea {
      width: 100%;
      border: none;
      background-color: transparent;
      resize: none;
      font-size: 13px;
      line-height: 15px;
      // removes the up/down arrows when initially rendering node descriptions
      overflow:hidden;

      &:hover {
        cursor: inherit;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-style: italic;
      }
    }
  }
}

.debug {
  position: absolute;
  bottom: -1rem;
  font-size: .8rem;
}