@import "src/sass/default.theme";

.node {
  position: absolute;
  padding: 2px;
  border: $node-border;
  border-radius: 8px;
  background-color: $node-background;

  header input {
    width: 100%;
    border: 0;
    background-color: $node-background;

    &:focus {
      outline: none;
    }
  }
}